.inputWrapper {
    position: relative;
    width: 92%;
}

.input {
    width: 100%;
    padding: 16px 12px 16px 12px;
    border: 1px solid var(--violet);
    background-color: var(--white);
    border-radius: 8px;
    outline: none;
    font-size: 16px;
}

.label {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 16px;
    color: var(--dark-grey);
    pointer-events: none;
    background-color: var(--white);
    transition: all 0.2s ease;
}

.input:focus+.label,
.focused+.label {
    top: -8px;
    font-size: 12px;
    color: var(--dark-grey);
}

.focused+.label {
    color: var(--violet);
}

.hiddenInput {
    display: none;
}

.fileWrapper {
    position: relative;
    width: 92%;
}

.customFileButton {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 16px 12px;
    border: 1px solid var(--violet);
    border-radius: 8px;
    background-color: var(--white);
    cursor: pointer;
    font-size: 16px;
}

.fileLabel {
    position: absolute;
    top: -8px;
    left: 12px;
    font-size: 12px;
    color: var(--dark-grey);
    background-color: var(--white);
    padding: 0 4px;
    transition: all 0.2s ease;
}

.checkboxWrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;
    grid-column: span 2;
}

.checkboxLabel {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: var(--dark-grey);
}

.checkbox {
    width: 16px;
    height: 16px;
    accent-color: var(--violet);
    cursor: pointer;
}

.disclaimer {
    user-select: none;
    font-size: small;
    line-height: 20px;
}