.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 40px;
    margin: auto;
}

.formContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 1360px;
    height: 520px;
    box-shadow: 4px 4px 24px 0px var(--dark-grey);
    border-radius: 12px;
}


.inputLabel {
    font-size: 14px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid var(--grey);
}



@media (max-width: 1400px) {
    .formContainer {
        width: 1000px;
    }

    .brandDescription {
        width: 100%;
        max-width: 400px;
    }
}

@media (max-width: 1100px) {
    .container {
        height: 1000px;
    }
    .formContainer {
        width: 90vw;
        min-width: 0;
        max-width: 700px;
        grid-template-columns: 1fr;
        height: auto;
    }
}

@media (max-width: 700px) {
    .container {
        gap: 24px;
        padding: 8px;
        height: auto;
    }

    .formContainer {
        width: 100vw;
        min-width: 0;
        max-width: 100vw;
        border-radius: 0;
        box-shadow: none;
        grid-template-columns: 1fr;
        height: auto;
    }
}

